@import url("all.min.css");


body {
    --color-primary: #e600e6;
    --color-bg: #201020f3;
    color: antiquewhite;
    font-size: 20pt !important;
}

.site {
    background-color: var(--color-bg);
    border-color: var(--color-primary);
    border-radius: 5vmin !important;
    border-style: dashed;
    border-width: 0.5vmin;
    padding: 5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 90vh;
    width: 60vw;
}

a {
    font-size: 30pt !important;
    text-decoration: underline !important;
    text-decoration-color: var(--color-primary) !important;
}


/* Chessboard background */
body {
    --chess-size: 80px;
    background: repeating-conic-gradient(
    black 0deg 25%,
    antiquewhite 25% 50%,
    black 50% 75%,
    antiquewhite 75% 100%);
    background-size: var(--chess-size) var(--chess-size);
    animation: scroll 4s linear infinite;
}

@keyframes scroll {
    from { background-position: 0 0;}
    to { background-position: calc(-4*var(--chess-size)) calc(-3*var(--chess-size)); }
  }
